<!-- Page Banner -->
<div class="page-banner-area ptb-100" style="background-image: url(assets/images/shapes/page-banner-bg.jpg);">
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Services</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Services</li>
            </ul>
        </div>
    </div>
</div>

<!-- Events -->
<div class="events-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog1.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                $ 1500
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                Door-step
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Engine Tuning</a></h3>
                        <p>Our team of skilled technicians will optimize and fine-tune various components and systems
                            within the engine to
                            enhance
                            its performance, power, and efficiency.</p>
                        <a routerLink="/event-details" class="link-btn">Book Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog2.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                $ 1500
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                Door-step
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Engine Overhauling</a></h3>
                        <p>Is your engine showing signs of wear and tear? Experiencing decreased performance, excessive
                            oil consumption, or
                            unusual
                            noises? Our engine overhauling service is here to address</p>
                        <a routerLink="/event-details" class="link-btn">Book Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog3.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                $ 1500
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                Door-step
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Suspension Overhauling</a></h3>
                        <p>Experience a smoother, more comfortable ride with our suspension overhauling service. Don’t let a worn-out suspension
                            compromise your driving experience.</p>
                        <a routerLink="/event-details" class="link-btn">Book Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog4.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                $ 1500
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                Door-step
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">PPF, Wrapping & Detailing</a></h3>
                        <p>Give your car the ultimate protection and a stunning new look with our comprehensive car PPF (Paint Protection Film),
                            wrapping, and detailing services for car.</p>
                        <a routerLink="/event-details" class="link-btn">Book Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog5.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                $ 1500
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                Door-step
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Car Detailing Dubai</a></h3>
                        <p>Car Detailing Dubai offers top-notch automotive detailing services in the vibrant city of Dubai. With a passion for
                            perfection, we strive to enhance and restore the beauty of your vehicle.</p>
                        <a routerLink="/event-details" class="link-btn">Book Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog6.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                $ 1500
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-check-mark"></i>
                                Door-step
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Timing Belt Replacement</a></h3>
                        <p>Timing Belt Replacement is a crucial maintenance service that ensures the smooth and efficient operation of your
                            vehicle's engine. At our service center, we specialize in professional timing belt</p>
                        <a routerLink="/event-details" class="link-btn">Book Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>