<div class="banner-area position-relative z-1">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="sub-title">Car Aid Repair</span>
                    <h1>Car Aid Repair care about cars and the people who drive them</h1>
                    <p>Car Aid Reapiar - Providing all kind of mechanical & Car maintenance solutions at your Home/
                        Office. - Basic Tuning - Clutch & Gear works</p>
                    <!-- <form class="search-box">
                        <input type="text" class="form-control" placeholder="Search your courses...">
                        <button type="submit" class="default-btn">
                            <i class="flaticon-search"></i>
                            Search Now
                        </button>
                    </form> -->
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <i class="flaticon-tick"></i>
                            Car AC Repair
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            Car Brake Repair
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            Car Engine Repair
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            Car Transmission Repair
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image position-relative z-1">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="box">
                                <div class="icon">
                                    <i class="flaticon-check-mark"></i>
                                </div>
                                24 Hour's Available Service
                            </div>
                            <div class="image">
                                <img src="assets/images/banner/banner1.jpg" alt="banner-image">
                            </div>
                            <div class="box">
                                <div class="icon">
                                    <i class="flaticon-teacher"></i>
                                </div>
                                155K+ Part Available Of Diffrents Cars
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/banner/banner2.jpg" alt="banner-image">
                            </div>
                            <div class="image">
                                <img src="assets/images/banner/banner3.jpg" alt="banner-image">
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/shapes/shape4.png" class="shape1" alt="shape-image">
                    <img src="assets/images/shapes/shape4.png" class="shape2" alt="shape-image">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape1">
        <img src="assets/images/shapes/shape2.png" alt="shape-image">
    </div>
    <div class="banner-shape2">
        <img src="assets/images/shapes/shape3.png" alt="shape-image">
    </div>
</div>