<!-- Footer -->
<div class="footer-area position-relative pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-4 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                    <!-- <p>Welcome to our online mechanic service, where convenience meets expert automotive care. We understand the value of
                                                                                    your
                                                                                    time, which is why we offer professional mechanic services that come directly to you, no matter where you are
                                                                                    located.</p> -->
                    <ul class="social-links ps-0 mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-xl-2 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Important Pages</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/about" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                About Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/contact" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/instructors" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Instructors
                            </a>
                        </li>
                        <li>
                            <a routerLink="/become-a-instructor" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Become A Instructor
                            </a>
                        </li>
                        <li>
                            <a routerLink="/success-stories" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Success Stories
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Other Pages</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        <li>
                            <a class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Services
                            </a>
                        </li>
                        <li>
                            <a routerLink="/about" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                About US
                            </a>
                        </li>
                        <li>
                            <a routerLink="/testimonials" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Reviews
                            </a>
                        </li>
                        <li>
                            <a routerLink="/contact" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Contact US
                            </a>
                        </li>
                        <li>
                            <a routerLink="/profile-authentication" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Book Service
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Get In Touch</h3>
                    <ul class="footer-contact-info ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-phone-call'></i>
                            </div>
                            <a href="tel:0502840054">
                                0502840054
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-envelope'></i>
                            </div>
                            <a href="mailto:Caraidautorepair999@gmail.com">Caraidautorepair999@gmail.com</a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-map'></i>
                            </div>
                            Shop # 68/69 G floor Aashiana Shopping Mall, Khayaban-e-Roomi, Block 9 Clifton, Karachi
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <img src="assets/images/shapes/footer.gif" class="footer-shape1" alt="footer-shape1">
                        <img src="assets/images/shapes/footer-shape.png" class="footer-shape2" alt="footer-shape2"> -->
</div>

<!-- Copyright -->
<!-- <div class="copyright-area text-center">
    <div class="container">
        <p>© Toledo is Proudly Owned by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
    </div>
</div> -->